:root {
    --cor-0: #ffffff;
    --cor-1: #f7f7f7;
    --cor-2: #ededed;
    --cor-3: #dedede;
    --cor-4: #cccccc;
    --cor-5: #b2b2b2;
    --cor-6: #9c9c9c;
    --cor-7: #717171;
    --cor-8: #595959;
    --cor-9: #404040;
    --cor-10: #2e2e2e;
    --cor-11: #111111;
    --cor-12: #000000;
    --cor-p1: #ffbb00;
    --cor-p2: #e4a30b;
    --cor-p3: #a66f00;
    --cor-p4: #664400;
    --cor-p5: #332200;
    --primary-color: #fd951f;
    --bg-color: #130f0d;
    --text-color: #f0f0f5;
    --light-color: rgba(255, 255, 255, 0.04);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-11);
    color: var(--text-color);
}

form {
    background-color: #404040;
    width: 100%;
    max-width: 500px;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h2 {
    margin-bottom: 32px;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

input,
button {
    appearance: none;
    width: 100%;
    padding: 16px 0;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    background-color: transparent;
    outline: none;
    color: var(--text-color);
    font-size: 1em;
}

.btn {
    padding: 15px;
    border: none;
    color: var(--color-white);
    border-radius: 5px;
    width: 100%;
    font-size: 1.1rem;
    transition: .2s;
    cursor: pointer;
}

.btn-enter {
    background-color: #2e2e2e;
    margin-bottom: 16px; /* Adiciona espaço abaixo do botão Entrar */
}

.btn-enter:hover {
    background-color: #e4a30b;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-bottom: 24px; /* Adiciona espaço abaixo do link Esqueceu a senha */
    color: #f7f7f7;
    text-decoration: none;
}

.btn-create-account {
    background-color: #f7f7f7;
    width: auto;
}

.btn-create-account:hover {
    background-color: #e4a30b;
}

a {
    text-decoration: none;
    color: #f7f7f7;
}

.create-account {
    color: #2e2e2e;
}

.home {
    color: #dddfe2;
}

input ~ label {
    position: absolute;
    top: 16px;
    left: 0;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.input span.error {
    display: flex;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}
